<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.insectdata.mapper.PredictMapper">
    
    <resultMap type="Predict" id="PredictResult">
        <result property="insectId"    column="insect_id"    />
        <result property="predictTime"    column="predict_time"    />
        <result property="predictNum"    column="predict_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPredictVo">
        select insect_id, predict_time, predict_num, create_by, create_time, update_by, update_time from predict
    </sql>

    <select id="selectPredictList" parameterType="Predict" resultMap="PredictResult">
        <include refid="selectPredictVo"/>
        <where>  
            <if test="insectId != null "> and insect_id = #{insectId}</if>
            <if test="predictTime != null "> and predict_time = #{predictTime}</if>
            <if test="predictNum != null "> and predict_num = #{predictNum}</if>
        </where>
    </select>

    <select id="selectPredictByDate" resultType="Integer">
        <!--        <include refid="selectIdentificationVo"/>-->
        SELECT SUM(`predict_num`)
        FROM predict
        WHERE predict_time BETWEEN #{start} AND #{end} AND insect_id = #{insectId}
    </select>

    <select id="selectPredictByInsectId" parameterType="Integer" resultMap="PredictResult">
        <include refid="selectPredictVo"/>
        where insect_id = #{insectId}
    </select>
        
    <insert id="insertPredict" parameterType="Predict">
        insert into predict
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="insectId != null">insect_id,</if>
            <if test="predictTime != null">predict_time,</if>
            <if test="predictNum != null">predict_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="insectId != null">#{insectId},</if>
            <if test="predictTime != null">#{predictTime},</if>
            <if test="predictNum != null">#{predictNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePredict" parameterType="Predict">
        update predict
        <trim prefix="SET" suffixOverrides=",">
            <if test="predictTime != null">predict_time = #{predictTime},</if>
            <if test="predictNum != null">predict_num = #{predictNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where insect_id = #{insectId}
    </update>

    <delete id="deletePredictByInsectId" parameterType="Integer">
        delete from predict where insect_id = #{insectId}
    </delete>

    <delete id="deletePredictByInsectIds" parameterType="String">
        delete from predict where insect_id in 
        <foreach item="insectId" collection="array" open="(" separator="," close=")">
            #{insectId}
        </foreach>
    </delete>
</mapper>